/* Information about available CSS options you can find at https://developer.gnome.org/gtk3/stable/chap-css-overview.html */

/* General setting of ui */
* {
   background:transparent;
   color:rgb(238,232,170);
   border-style:none;
   box-shadow:none;
   text-shadow:none;
   font-family:Z003;
   font-style:italic;
   font-size:16px;
}

/* General setting for all game windows */
GtkWindow {
   border: 1px solid rgb(125,120,0);
   background-color:#1a130c;
}

/* Mouse hovering over UI element */
*:hover {
   border-style:solid;
   border-width:1px;
   border-color:rgb(255,223,0);
}

/* Blocked buttons */
.button:insensitive, .button:insensitive * {
   color:black;
   border-style:none;
   box-shadow:none;
   text-shadow:none;
   background:transparent;
}

/* Default all buttons settings */
.button, GtkSwitch.slider {
   box-shadow:inset 0 1px 0 0 #5c4745;
   background:linear-gradient(to bottom, #473422 5%, #1a130c 100%);
   border-radius:10px;
   border:1px solid #120c06;
   color:rgb(255,223,0);
   text-shadow:0 1px 0 #120d0d;
}

/* Setting for buttons texts */
.button * {
   color:rgb(255,223,0);
   text-shadow:0 1px 0 #2b1e1d;
}

/* Setting for currently focused button */
.button:focus  {
   background:linear-gradient(to bottom, #1a130c 5%, #473422 100%);
   border-style:solid;
   border-width:1px;
   border-color:rgb(255,223,0);
}

/* Setting for currently mouse hovered over button */
.button:hover {
   background:linear-gradient(to bottom, #1a130c 5%, #473422 100%);
}

/* Setting for pressed button */
.button:active {
   background:linear-gradient(to bottom, #4c0000 5%, #990000 100%);
}

/* Default settings for text entry fields (like player and ship name) */
.entry {
   box-shadow:inset 0 1px 0 0 #5c4745;
   background-color:#2d2115;
   border:1px solid #120c06;
   color:rgb(255,223,0);
   text-shadow:0 1px 0 #120d0d;
}

/* Settings for currently active text entry fields (like player and ship name) */
.entry:focus, .entry:active {
   border-color:rgb(255,223,0);
   background-color:#2d2115;
}

/* Button pressed and selected item in lists (like modules list, etc) */
GtkTreeView:selected,
   GtkTreeView:selected:focus,
   .entry:selected {
  background:rgb(128,0,0);
}

/* Setting for all sliders */
.scrollbar.slider {
   box-shadow:inset 0 0 0 1px #5c4745;
   background:linear-gradient(to right, #473422 5%, #1a130c 100%);
   border-radius:10px;
   border:1px solid #120c06;
}

/* Setting for currently used slider */
.scrollbar.slider:prelight:active,
   .scrollbar.slider:active {
   background:linear-gradient(to right, #4c0000 5%, #990000 100%);
}

/* Mouse hover over slider */
.scrollbar.slider:hover {
   background:linear-gradient(to right, #1a130c 5%, #473422 100%);
}

/* Settings for progress bars */
.progressbar,
   .progressbar:selected,
   .progressbar:selected:focus {
   background:linear-gradient(to bottom, blue, black);
   border-radius:15px;
}

/* Settings for progress bars background */
GtkProgressBar.trough,
   GtkTreeView.view.trough,
   GtkTreeView.view.trough:selected,
   GtkTreeView.view.trough:selected:focus {
  border-radius: 15px;
  background:linear-gradient(to bottom, rgb(53,53,53), rgb(15,21,31));
}

/* Settings for frames */
GtkFrame {
   border-radius:5px;
   border-style:solid;
   border-width:2px;
   border-color:darkgreen;
}

/* Settings for frames title */
GtkFrame > GtkLabel {
   border-radius:5px;
   border-style:dashed;
   border-color:darkgreen;
   border-width:1px;
   padding:4px;
}

/* Settings for white(gray) frames */
GtkFrame#whiteframe {
   border-radius:5px;
   border-style:solid;
   border-width:2px;
   border-color:gray;
}

GtkFrame#whiteframe > GtkLabel {
   border-radius:5px;
   border-style:dashed;
   border-color:gray;
   border-width:1px;
   padding:4px;
}

/* Settings for red frames */
GtkFrame#redframe {
   border-radius:5px;
   border-style:solid;
   border-width:2px;
   border-color:red;
}

GtkFrame#redframe > GtkLabel {
   border-radius:5px;
   border-style:dashed;
   border-color:red;
   border-width:1px;
   padding:4px;
}

/* Settings for tooltip popups */
.tooltip {
   border-style:solid;
   border-width:1px;
   border-color:rgb(57,57,57);
   background:rgb(25,25,25);
}

/* Settings for scales (like in negotiating with recruits) */
GtkScale, GtkScale:hover {
   background:grey;
}

/* Sky map settings */
GtkTextView#mapview {
   font-family:Hack;
   font-style:normal;
   font-size:10px;
}

/* Font used mostly in help, but in ship info in corner too */
*#normalfont {
   font-family:Roboto;
   font-style:normal;
   font-size:12px;
}

/* Red progress bars settings */
.progressbar#redbar,
   .progressbar:selected#redbar,
   .progressbar:selected#redbar:focus {
   background:linear-gradient(to bottom, red, black);
   border-radius:15px;
}

/* Green progress bars settings */
.progressbar#greenbar,
   .progressbar:selected#greenbar,
   .progressbar:selected#greenbar:focus {
   background:linear-gradient(to bottom, darkgreen, black);
   border-radius:15px;
}

/* Yellow progress bars settings */
.progressbar#yellowbar,
   .progressbar:selected#yellowbar,
   .progressbar:selected#yellowbar:focus {
   background:linear-gradient(to bottom, rgb(172, 119, 0), black);
   border-radius:15px;
}

/* Negative values bar settings (for example, negative reputation) */
.progressbar#negativebar,
   .progressbar:selected#negativebar,
   .progressbar:selected#negativebar:focus {
   background:linear-gradient(to bottom, red, black);
   border-radius:15px 0 0 15px;
}

GtkProgressBar.trough#negativebar {
  border-radius:15px 0 0 15px;
  background:linear-gradient(to bottom, rgb(53,53,53), rgb(15,21,31));
}

/* Positive values bar settings (for example, positive reputation) */
.progressbar#positivebar,
   .progressbar:selected#positivebar,
   .progressbar:selected#positivebar:focus {
   background:linear-gradient(to bottom, darkgreen, black);
   border-radius:0 15px 15px 0;
}

GtkProgressBar.trough#positivebar {
  border-radius:0 15px 15px 0;
  background:linear-gradient(to bottom, rgb(53,53,53), rgb(15,21,31));
}

/* Setting for tables headers */
GtkTreeView.view .button {
   border-radius:0;
}

/* Prevent expanders from autoresize on hover */
GtkExpander * {
   border-width:1px;
   border-style: dotted;
   border-color:transparent;
}

/* Settings for map info element */
*#overlaylabel {
   border-radius:5px;
   border-style:solid;
   border-width:1px;
   border-color:gray;
   background:rgb(25,25,25);
}

/* Mouse hovering over tables cells */
GtkTreeView row:hover {
   border-width:1px 0;
}

