/* Information about available CSS options you can find at https://developer.gnome.org/gtk3/stable/chap-css-overview.html */

/* General setting of ui */
* {
   background:transparent;
   color:rgb(238,232,170);
   border-style:none;
   box-shadow:none;
   text-shadow:none;
   font-family:Amarante;
   font-size:14px;
   -GtkPaned-handle-size: 5;
}

/* General setting for all game windows */
GtkWindow, #overlay {
   border: 1px solid rgb(125,120,0);
   background-color:#1a130c;
}

/* Mouse hovering over UI element */
*:hover {
   border-style:solid;
   border-width:1px;
   border-color:rgb(255,223,0);
}

/* Blocked buttons */
.button:insensitive, .button:insensitive * {
   color:black;
   border-style:none;
   box-shadow:none;
   text-shadow:none;
   background:transparent;
}

/* Default all buttons settings */
.button, GtkSwitch.slider {
   box-shadow:inset 0 1px 0 0 #5c4745;
   background:linear-gradient(to bottom, #372412 5%, #1a130c 100%);
   border-radius:10px;
   border:1px solid black;
   color:rgb(255,223,0);
   text-shadow:0 1px 0 #120d0d;
}

/* Setting for buttons texts */
.button * {
   color:rgb(255,223,0);
   text-shadow:0 1px 0 #2b1e1d;
}

/* Setting for currently focused button */
.button:focus  {
   background:linear-gradient(to bottom, #1a130c 5%, #372412 100%);
   border-style:solid;
   border-width:1px;
   border-color:rgb(255,223,0);
}

/* Setting for currently mouse hovered over button */
.button:hover, GtkScale:hover {
   background:linear-gradient(to bottom, #1a130c 5%, #372412 100%);
}

/* Setting for pressed button */
.button:active {
   background:linear-gradient(to bottom, #4c0000 5%, #990000 100%);
}

/* Default vertical buttons settings */
.button#vertical {
   box-shadow:inset 0 1px 0 0 #5c4745;
   background:linear-gradient(to right, #372412 5%, #1a130c 100%);
   border-radius:10px;
   border:1px solid black;
   color:rgb(255,223,0);
   text-shadow:0 1px 0 #120d0d;
}

/* Setting for currently focused vertical button */
.button#vertical:focus  {
   background:linear-gradient(to right, #1a130c 5%, #372412 100%);
   border-style:solid;
   border-width:1px;
   border-color:rgb(255,223,0);
}

/* Setting for currently mouse hovered over vertical button */
.button#vertical:hover {
   background:linear-gradient(to right, #1a130c 5%, #372412 100%);
}

/* Setting for pressed vertical button */
.button#vertical:active {
   background:linear-gradient(to right, #4c0000 5%, #990000 100%);
}

/* Default settings for text entry fields (like player and ship name) */
.entry {
   box-shadow:inset 0 1px 0 0 #5c4745;
   background-color:#2d2115;
   border:1px solid black;
   color:rgb(255,223,0);
   text-shadow:0 1px 0 #120d0d;
}

/* Settings for currently active text entry fields (like player and ship name) */
.entry:focus, .entry:active {
   border-color:rgb(255,223,0);
   background-color:#2d2115;
}

/* Button pressed and selected item in lists (like modules list, etc) */
GtkTreeView:selected,
   GtkTreeView:selected:focus,
   .entry:selected {
  background:rgb(128,0,0);
}

/* Setting for all sliders */
.scrollbar.slider {
   box-shadow:inset 0 0 0 1px #5c4745;
   background:linear-gradient(to right, #372412 5%, #1a130c 100%);
   border-radius:10px;
   border:1px solid black;
}

/* Setting for currently used slider */
.scrollbar.slider:prelight:active,
   .scrollbar.slider:active {
   background:linear-gradient(to right, #4c0000 5%, #990000 100%);
}

/* Mouse hover over slider */
.scrollbar.slider:hover {
   background:linear-gradient(to right, #1a130c 5%, #372412 100%);
}

/* Setting for horizontal sliders */
.scrollbar.slider.horizontal {
   box-shadow:inset 0 0 0 1px #5c4745;
   background:linear-gradient(to bottom, #372412 5%, #1a130c 100%);
   border-radius:10px;
   border:1px solid black;
}

/* Setting for currently used horizontal slider */
.scrollbar.slider.horizontal:prelight:active,
   .scrollbar#horizontal.slider:active {
   background:linear-gradient(to bottom, #4c0000 5%, #990000 100%);
}

/* Mouse hover over horizontal slider */
.scrollbar.slider.horizontal:hover {
   background:linear-gradient(to bottom, #1a130c 5%, #372412 100%);
}

/* Settings for progress bars */
.progressbar,
   .progressbar:selected,
   .progressbar:selected:focus {
   background:linear-gradient(to bottom, blue, black);
   border-radius:10px;
}

/* Settings for progress bars background */
GtkProgressBar.trough,
   GtkTreeView.view.trough,
   GtkTreeView.view.trough:selected,
   GtkTreeView.view.trough:selected:focus {
  border-radius: 10px;
  background:linear-gradient(to bottom, rgb(53,53,53), transparent);
}

/* Settings for frames */
GtkFrame {
   border-radius:5px;
   border-style:solid;
   border-width:2px;
   border-color:darkgreen;
}

/* Settings for frames title */
GtkFrame > GtkLabel {
   border-radius:5px;
   border-style:dashed;
   border-color:darkgreen;
   border-width:1px;
   padding:4px;
}

/* Settings for white(gray) frames */
GtkFrame#whiteframe {
   border-radius:5px;
   border-style:solid;
   border-width:2px;
   border-color:gray;
}

GtkFrame#whiteframe > GtkLabel {
   border-radius:5px;
   border-style:dashed;
   border-color:gray;
   border-width:1px;
   padding:4px;
}

/* Settings for red frames */
GtkFrame#redframe {
   border-radius:5px;
   border-style:solid;
   border-width:2px;
   border-color:red;
}

GtkFrame#redframe > GtkLabel {
   border-radius:5px;
   border-style:dashed;
   border-color:red;
   border-width:1px;
   padding:4px;
}

/* Settings for tooltip popups */
.tooltip {
   border-style:solid;
   border-width:1px;
   border-color:rgb(57,57,57);
   background:rgb(25,25,25);
}

/* Sky map settings */
GtkTextView#mapview {
   font-family:"Hack NF";
   font-style:normal;
   font-size:16px;
}

/* Font used mostly in help */
*#normalfont {
   font-family:Roboto;
   font-style:normal;
   font-size:14px;
}

/* Red progress bars settings */
.progressbar#redbar,
   .progressbar:selected#redbar,
   .progressbar:selected#redbar:focus {
   background:linear-gradient(to bottom, red, black);
   border-radius:10px;
}

/* Green progress bars settings */
.progressbar#greenbar,
   .progressbar:selected#greenbar,
   .progressbar:selected#greenbar:focus {
   background:linear-gradient(to bottom, darkgreen, black);
   border-radius:10px;
}

/* Yellow progress bars settings */
.progressbar#yellowbar,
   .progressbar:selected#yellowbar,
   .progressbar:selected#yellowbar:focus {
   background:linear-gradient(to bottom, rgb(172, 119, 0), black);
   border-radius:10px;
}

/* Negative values bar settings (for example, negative reputation) */
.progressbar#negativebar,
   .progressbar:selected#negativebar,
   .progressbar:selected#negativebar:focus {
   background:linear-gradient(to bottom, red, black);
   border-radius:10px 0 0 10px;
}

GtkProgressBar.trough#negativebar {
  border-radius:10px 0 0 10px;
}

/* Positive values bar settings (for example, positive reputation) */
.progressbar#positivebar,
   .progressbar:selected#positivebar,
   .progressbar:selected#positivebar:focus {
   background:linear-gradient(to bottom, darkgreen, black);
   border-radius:0 10px 10px 0;
}

GtkProgressBar.trough#positivebar {
  border-radius:0 10px 10px 0;
}

/* Setting for tables headers */
GtkTreeView.view .button {
   border-radius:0;
   border-width:0;
}

/* Prevent expanders from autoresize on hover */
GtkExpander * {
   border-width:1px;
   border-style: dotted;
   border-color:transparent;
}

/* Settings for map info element */
*#overlaylabel {
   border-radius:5px;
   border-style:solid;
   border-width:1px;
   border-color:gray;
   background:rgb(25,25,25);
}

/* Mouse hovering over tables cells */
GtkTreeView row:hover {
   border-width:1px 0;
}

/* Default setting for all scales */
GtkScale {
   box-shadow:inset 0 1px 0 0 #5c4745;
   background:linear-gradient(to bottom, #372412 5%, #1a130c 100%);
   border-radius:5px;
   border:1px solid black;
   color:rgb(255,223,0);
   text-shadow:0 1px 0 #120d0d;
}

/* Setting for currently selected page in options or shipyard */
GtkStackSwitcher .button:checked {
   background:linear-gradient(to bottom, #4c0000 5%, #990000 100%);
}

/* Default setting for last message info */
*#overlayinfo {
   border-radius:5px;
   border-style:solid;
   border-width:1px;
   border-color:gray;
   background:rgba(25,25,25,0.5);
}

/* Default setting for last message info close button */
*#overlayinfo .button {
   background:rgba(25,25,25,0.5);
}

/* Default setting for number entry fields (like amount in trading, wait x minutes) */
.spinbutton {
   border-radius: 0;
}

/* Default setting for focused number entry fields buttons */
.spinbutton .button:focus {
   box-shadow:inset 0 1px 0 0 #5c4745;
   background:linear-gradient(to bottom, #372412 5%, #1a130c 100%);
   border:1px solid black;
   color:rgb(255,223,0);
   text-shadow:0 1px 0 #120d0d;
}

/* Default setting for pressed buttons in number entry fields */
.spinbutton .button:active {
   background:linear-gradient(to bottom, #4c0000 5%, #990000 100%);
}

/* Default setting for inactive buttons in number entry fiedls */
.spinbutton .button:insensitive {
   color:black;
   border-style:none;
   box-shadow:none;
   text-shadow:none;
   background:transparent;
}

/* Settings for website and mailto buttons */
*#flatbutton {
   border-style:none;
   box-shadow:none;
   text-shadow:none;
   background:#1a130c;
}

/* Settings for buttons with information about ship */
*#headerbutton {
   border-radius:0;
   border-width:0;
}

/* Font used for icons in UI */
*#fontawesome {
   font-family:"Font Awesome 5 Free Solid";
   font-size:14px;
}

/* Settings for move map buttons */
*#movemap {
   background-color:#1a130c;
}

*#movemap * {
   font-family:"Font Awesome 5 Free Solid";
   border-radius: 0;
}

.pane-separator {
   background:linear-gradient(to bottom, #372412 5%, #1a130c 100%);
}

/* Setting for messages bar */
GtkInfoBar {
   border: 1px solid rgb(125,120,0);
   background-color:#1a130c;
   border-radius:10px;
}

/* Gold progress bars settings */
.progressbar#goldbar,
   .progressbar:selected#goldbar,
   .progressbar:selected#goldbar:focus {
   background:linear-gradient(to bottom, gold, black);
   border-radius:10px;
}

/* Crew member experience progress bars settings */
.progressbar#experience,
   .progressbar#experience:selected,
   .progressbar#experience:selected:focus {
   background:linear-gradient(to bottom, darkgoldenrod, black);
}

GtkProgressBar.trough#experience {
  background:linear-gradient(to bottom, rgb(25,25,25), transparent);
}
