header markers:
  -- ****
remark markers:
  --
end markers:
  -- ****
options:
  --src src
  --doc docs
  --html
  --multidoc
  --index
  --internal
  --documenttitle "Steamsky 5.6 code documentation"
  --syntaxcolors
  --sections
  --toc
  --masterindex "Index,index"
  --sourceindex "Source files,sources"
  --css others/robodoc.css
headertypes:
  h Packages robo_packages 8
  a Tasks robo_tasks 7
  t Types robo_types 6
  s Records robo_records 5
  d Constants robo_constants 4
  v Variables robo_variables 3
  e Exceptions robo_exceptions 2
  f Subprograms robo_subprograms 1
  o Commands robo_commands 0
item order:
  FUNCTION
  SOURCE
  OPTIONS
  PARAMETERS
  RESULT
  OUTPUT
  EXAMPLE
  SEE ALSO
  NOTES
  TODO
  HISTORY
source items:
  EXAMPLE
keywords:
  abort
  abs
  abstract
  accept
  access
  aliased
  all
  and
  array
  at
  begin
  body
  case
  constant
  declare
  delay
  delta
  digits
  do
  else
  elsif
  end
  entry
  exception
  exit
  for
  function
  generic
  goto
  if
  in
  interface
  is
  limited
  loop
  mod
  new
  not
  null
  of
  or
  others
  out
  overriding
  package
  pragma
  private
  procedure
  protected
  raise
  range
  record
  rem
  renames
  requeue
  return
  reverse
  select
  separate
  some
  subtype
  synchronized
  tagged
  task
  terminate
  then
  type
  until
  use
  when
  while
  with
  xor
